<section class="w-100">
  <div class="container d-flex flex-column py-5">
    <div class="d-flex justify-content-between ">
      <div class="d-flex gap-5">
        <span class="fs-5 fw-bold color-primary-my align-self-end">BROKER VANCE</span>
        <div class="container-goal-span align-self-end">
          <span class="">Наша цель находить быстрые и гибкие решения.</span>
        </div>
      </div>
      <div class="d-flex justify-content-between gap-5">
        <div class="d-flex flex-column gap-1">
          <a>Заемщикам</a>
          <a>Брокерам</a>
          <a>Инвесторам</a>
        </div>
        <div class="d-flex flex-column gap-1">
          <a>Контакты</a>
          <a>FAQ</a>
        </div>
      </div>
    </div>
    <div class="devider-line my-4"></div>
    <div class="d-flex justify-content-between">
      <span class="text-decoration-underline">© Copyright 2024 Broker Vance. Все права защищены.</span>
      <div class="d-flex gap-3">
        <span class="text-decoration-underline">Политика конфиденциальности</span>
        <span class="text-decoration-underline">Термины и состояния</span>
      </div>
    </div>
  </div>
</section>
