<section class="w-100 bg-white p-header">
  <div class="container-my d-flex align-items-center justify-content-between">
    <div class="svgs-container">
      <div class="logo-svg"></div>
      <div class="label-text-svg"></div>
    </div>
    <div class="d-flex gap-4 align-items-center menu-list">
      <span>Заемщикам</span>
      <span>Брокерам</span>
      <span>Инвесторам</span>
      <span>Контакты</span>
      <button class="btn button-outline-my">
        Обратиться
      </button>
    </div>
    <button class="btn btn-outline-dark bg-primary-my text-white button-menu b-r-0 border-0"
            (click)="onClickOpenOffcanvas()">
      <i class="fs-2 bi bi-list"></i>
    </button>
  </div>
</section>
