<section class="w-100 bg-white p-header">
  <div class="container-my d-flex align-items-center justify-content-between">
    <div class="svgs-container pointer" [routerLink]="['']">
      <div class="logo-svg"></div>
      <div class="label-text-svg"></div>
    </div>
    <div class="d-flex gap-4 align-items-center menu-list">
      <span class="pointer" [routerLink]="['borrowers']">Заемщикам</span>
      <span class="pointer" [routerLink]="['brokers']" >Брокерам</span>
      <span class="pointer" [routerLink]="['investors']" >Инвесторам</span>
      <span class="pointer" [routerLink]="['contacts']">Контакты</span>
      <a type="button" class="btn button-outline-my" href="https://mattheweb.ru/brokervance" target="_blank">
        Обратиться
      </a>
    </div>
    <button class="btn btn-outline-dark bg-primary-my text-white button-menu b-r-0 border-0 me-3"
            (click)="onClickOpenOffcanvas()">
      <i class="fs-1 bi bi-list"></i>
    </button>
  </div>
</section>
