.bg-for-form{
  background: var(--light-gray);
  background: linear-gradient(180deg, var(--light-gray) 53%, var(--main-color) 53%);
}
.bg-for-form_contacts{
  background: var(--light-gray);
  background: linear-gradient(0deg, var(--light-gray) 53%, var(--main-color) 53%);
}
.form{
  min-height: 400px;
  padding: 50px 70px;
}
.pic{
  min-height: 400px;
  background-color: var(--main-color);
  background-image: url("src/assets/imgs/broker-vance-preview.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-label_contacts{
  color: var(--main-color) !important;
}

.border-input_contacts div input,
.border-input_contacts div textarea{
  border: var(--primary-color) 1px solid !important;
}

.textarea-my{
  transition: all .3s;
}

.mb-my{
  margin-bottom: -1px;
}

@media (max-width: 1050px){
  .pic{
    display: none;
  }
  .form{
    width: 100% !important;
    padding: 30px 2rem;
  }
}
