<div class="modal-header border-bottom-0">
  <h4 class="modal-title"> Welcome 👋!</h4>
  <button type="button" class="btn-close me-1" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body pt-0 ">
  <p>Этот сайт создан не для реального использования, а как часть портфолио <a href="https://t.me/rudalsmolyusr" target="_blank">Ильина Матвея</a> — Frontend разработчика и верстальщика.</p>
  <p>🔹 Написано на Angular</p>
  <p>🌐 Сайт разработчика: <a href="https://mattheweb.ru/brokervance" target="_blank">mattheweb.ru</a></p>

</div>
