/*:host{*/
/*  display: flex;*/
/*  height: 100%;*/
/*  width: 100%;*/
/*  flex-direction: column;*/
/*}*/

.header-conf{
  display: flex;
  flex-direction: row;
  background: var(--white-permanent-color);
  height: 50px;
  padding: 10px 10px;
}

.body-conf{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /*ПОТОМ УБРАТЬ ПОТОМУ ЧТО НЕ ПРИКЛЕЕН ФУТЕР И КОНТЕНТ БУДЕТ */


  /*background: var(--primary-color);*/
}

.footer-conf{
  display: flex;
  flex-direction: row;
  background: var(--main-color);
  color: var(--white-permanent-color);
  /*height: 60px;*/
  align-items: center;
  /*max-height: 23px;*/
}
