<section class="section-1">
  <div class="text-half d-flex justify-content-end bg-third-my">
    <div class="half-container"
         appIntersectionObserver
         (visible)="onChangeSectionVisible(0, $event)"
         [@fadeIn]="sectionsVisibleList[0].visible ? 'visible' : 'invisible'">
      <h1 class="fw-bold mb-4 main-label-s1">Стремимся к быстрому получению одобрений</h1>
      <div class="container-for-checks-s1">
        <p><i class="bi bi-check2-square"></i> Мы самые честные и не обманем</p>
        <p><i class="bi bi-check2-square"></i> Одобрение возможно в течение 24 часов, а погашение - в течение 3 рабочих дней</p>
        <p><i class="bi bi-check2-square"></i> Займы на сумму до 8 миллионов долларов напрямую у кредиторов – без участия банков и их бюрократических проволочек</p>
        <p><i class="bi bi-check2-square"></i> Прозрачные контракты и затраты </p>
        <p><i class="bi bi-check2-square"></i> Срочные соглашения</p>
        <div>
          <button class="btn b-r-0 bg-primary-my text-white">Связаться с нами</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 bg-for-section-1-img"
       appIntersectionObserver
       (visible)="onChangeSectionVisible(6, $event)"
       [@fadeIn]="sectionsVisibleList[6].visible ? 'visible' : 'invisible'"></div>
</section>

<section class="section-2">
  <div class="container-my container-section-2"
       appIntersectionObserver
       (visible)="onChangeSectionVisible(1, $event)"
       [@fadeIn]="sectionsVisibleList[1].visible ? 'visible' : 'invisible'">
    <h1 class="label-section-2">Мы обеспечиваем быстрое согласование и финансовые решения для ваших клиентов</h1>
    <p class="text-for-label-section-2">Заполнив эту форму, мы предлагаем скидку на оплату за открытие счета и предоставляем брокерские бонусы при окончательном расчете.</p>
    <button class="btn b-r-0 text-white bg-primary-my mb-4">Заполнить анкету</button>
  </div>
</section>

<section class="section-3">
  <div class="container-my container-section-3">
    <div class="div-pic-section-3 bg-for-section-img"></div>
    <div class="outer-container-for-text-section-3">
      <div class="container-for-text-section-3"
           appIntersectionObserver
           (visible)="onChangeSectionVisible(2, $event)"
           [@fadeIn]="sectionsVisibleList[2].visible ? 'visible' : 'invisible'">
        <span class="text-white fs-5 fw-bold">Мы стремимся предоставлять заемщикам, брокерам и кредиторам услуги высочайшего качества и оптимизировать взаимодействие с бизнесом.</span>
      </div>
    </div>
  </div>
</section>

<section class="section-4">
  <div class="container-my py-5">
    <h2 class="fw-bold mb-5 px-5"
        appIntersectionObserver
        (visible)="onChangeSectionVisible(7, $event)"
        [@fadeIn]="sectionsVisibleList[7].visible ? 'visible' : 'invisible'">Обеспечение максимальной быстроты и неизменной надежности</h2>
    <div class="d-flex flex-column gap-5">
      <div class="container-for-section-4-component mb-4">
        <div class="div-section-4-img b-s-sb"
             appIntersectionObserver
             (visible)="onChangeSectionVisible(3, $event)"
             [@fadeIn]="sectionsVisibleList[3].visible ? 'visible' : 'invisible'"></div>
        <div class="div-section-4-text"
             appIntersectionObserver
             (visible)="onChangeSectionVisible(8, $event)"
             [@fadeIn]="sectionsVisibleList[8].visible ? 'visible' : 'invisible'">
          <div class="inner-div-s4-text">
            <h3 class="fw-bold">Заемщикам</h3>
            <div class="devider-line-section-4 mb-3"></div>
            <span class="mb-3">Broker Vance является лидером отрасли в предоставлении краткосрочного финансирования по первой и второй ипотеке клиентам, которым требуются оперативные расчеты и гибкость.</span>
            <div>
              <button class="btn button-outline-my">Узнать больше</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container-for-section-4-component mb-4">
        <div class="div-section-4-img b-s-eb order-2"
             appIntersectionObserver
             (visible)="onChangeSectionVisible(9, $event)"
             [@fadeIn]="sectionsVisibleList[9].visible ? 'visible' : 'invisible'"></div>
        <div class="div-section-4-text order-1"
             appIntersectionObserver
             (visible)="onChangeSectionVisible(10, $event)"
             [@fadeIn]="sectionsVisibleList[10].visible ? 'visible' : 'invisible'">
          <div class="inner-div-s4-text">
            <h3 class="fw-bold">Брокерам</h3>
            <div class="devider-line-section-4 mb-3"></div>
            <span class="mb-3">Broker Vance является лидером отрасли в предоставлении краткосрочного финансирования по первой и второй ипотеке клиентам, которым требуются оперативные расчеты и гибкость.</span>
            <div>
              <button class="btn button-outline-my">Узнать больше</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container-for-section-4-component mb-4">
        <div class="div-section-4-img b-s-sb"
             appIntersectionObserver
             (visible)="onChangeSectionVisible(11, $event)"
             [@fadeIn]="sectionsVisibleList[11].visible ? 'visible' : 'invisible'"></div>
        <div class="div-section-4-text"
             appIntersectionObserver
             (visible)="onChangeSectionVisible(12, $event)"
             [@fadeIn]="sectionsVisibleList[12].visible ? 'visible' : 'invisible'">
          <div class="inner-div-s4-text">
            <h3 class="fw-bold">Инвесторам</h3>
            <div class="devider-line-section-4 mb-3"></div>
            <span class="mb-3">Broker Vance является лидером отрасли в предоставлении краткосрочного финансирования по первой и второй ипотеке клиентам, которым требуются оперативные расчеты и гибкость.</span>
            <div>
              <button class="btn button-outline-my">Узнать больше</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-5">
  <div class="container-my py-5 container-s5"
       appIntersectionObserver
       (visible)="onChangeSectionVisible(4, $event)"
       [@fadeIn]="sectionsVisibleList[4].visible ? 'visible' : 'invisible'">
    <h1 class="label-section-5">Наш простой подход</h1>
    <div class="outer-container-cards-section-5">
      <div class="container-card-section-5">
        <div class="card-section-5">
          <div class="section-5-test-pic">
            <i class="bi bi-patch-check fs-1 color-primary-my"></i>
          </div>
          <div class="section-5-text">
            <h3 class="fw-medium">Apply</h3>
            <p>Either contact us directly or complete our information sheet for us to assess the funding options available to you</p>
          </div>
        </div>
        <div class="card-section-5">
          <div class="section-5-test-pic">
            <i class="bi bi-patch-check fs-1 color-primary-my"></i>
          </div>
          <div class="section-5-text">
            <h3 class="fw-medium">Apply</h3>
            <p>Either contact us directly or complete our information sheet for us to assess the funding options available to you</p>
          </div>
        </div>
      </div>
      <div class="container-card-section-5">
        <div class="card-section-5">
          <div class="section-5-test-pic">
            <i class="bi bi-patch-check fs-1 color-primary-my"></i>
          </div>
          <div class="section-5-text">
            <h3 class="fw-medium">Apply</h3>
            <p>Either contact us directly or complete our information sheet for us to assess the funding options available to you</p>
          </div>
        </div>
        <div class="card-section-5">
          <div class="section-5-test-pic">
            <i class="bi bi-patch-check fs-1 color-primary-my"></i>
          </div>
          <div class="section-5-text">
            <h3 class="fw-medium">Apply</h3>
            <p>Either contact us directly or complete our information sheet for us to assess the funding options available to you</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="w-100 bg-accordion-of-questions">
    <app-accordion-of-questions
      appIntersectionObserver
      (visible)="onChangeSectionVisible(5, $event)"
      [@fadeIn]="sectionsVisibleList[5].visible ? 'visible' : 'invisible'"></app-accordion-of-questions>
</section>

<section class="w-100">
    <app-contact-form [isFormForMainPage]="true"></app-contact-form>
</section>
