/* SECTION 1 WELCOME TEXT AND BIG PICTURE */
.section-1{
  min-height: 200px;
  display: flex;
}
.text-half{
  flex: 0 0 auto;
  width: 50%;
}
.container-for-checks-s1{
  padding-right: 3rem;
}
.half-container{
  display: flex;
  flex-direction: column;;
  height: 100%;
  background: var(--third-color);
  width: calc(var(--container-width)/2);
  padding: 70px 0;
}
.bg-for-section-1-img{
  background-color: var(--main-color);
  background-image: url("src/assets/imgs/photos-preview/man_woman_table.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  flex: 0 0 auto;
  width: 50%;
}
@media (max-width: 1100px){
  .main-label-s1{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .container-for-checks-s1{
    padding-left: 2rem;
  }
}
@media (max-width: 900px){
  .section-1{
    flex-direction: column;
  }
  .text-half{
    width: 100%;
  }
  .half-container{
    width: 100% !important;
    padding: 40px 0;
  }
  .bg-for-section-1-img{
    width: 100%;
    height: 400px;
  }
}
/* SECTION 1 WELCOME TEXT AND BIG PICTURE */
/*                   END                  */
/*_______________________________________ */

/* SECTION 2 BIG LABEL AND TEXT WITH BUTTON APPLY */
.section-2{
  width: 100%;
  background: var(--main-color);
}
.container-section-2{
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  color: var(--white-color);
  text-align:center!important
}
.label-section-2{
  color: var(--white-color);
  font-weight: 700;
  margin-bottom: 1rem;
}
.text-for-label-section-2{
  color: var(--white-color);
  margin-bottom: 1.5rem;
}
@media (max-width: 760px) {
  .container-section-2{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .label-section-2{
    /*font-size: 26px;*/
  }
}
/* SECTION 2 BIG LABEL AND TEXT WITH BUTTON APPLY */
/*                       END                      */
/*_______________________________________________ */

/* SECTION 3 HALF PICTURE AND GOAL */
.section-3{
  margin-top: -1px;
  width: 100%;
  background: var(--white-permanent-color);
  background: linear-gradient(0deg, var(--white-permanent-color) 200px, var(--main-color) 200px);
}
.div-pic-section-3{
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(var(--container-width)/2);
}
.outer-container-for-text-section-3{
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(var(--container-width)/2);
  background: var(--primary-color);
  justify-content: center;
  align-items: center;
}
.container-section-3{
  display: flex;
  flex-wrap: wrap;
}
.container-for-text-section-3{
  padding: 80px 0;
  width: 70%;
}
.bg-for-section-img{
  background-color: var(--main-color);
  background-image: url("src/assets/imgs/photos-preview/house_modern1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1050px) {
  .container-section-3{
    padding: 0 2rem;
  }
  .div-pic-section-3{
    height: 50vh;
  }
  .container-for-text-section-3{
    padding: 40px 0;
  }
}

@media (max-width: 600px) {
  .s-3-label{
    font-size: 16px !important;
  }
  .container-section-3{
    flex-direction: column;
  }
  .div-pic-section-3{
    height: 30vh;
    flex-basis: 300px;
  }
  .outer-container-for-text-section-3{
    flex-basis: 200px;
  }
}
/* SECTION 3 HALF PICTURE AND GOAL */
/*               END               */
/*________________________________ */

/* SECTION 4 LIST OF CARDS BORROWERS,BROKERS,INVESTORS */
.section-4{
  width: 100%;
  background-color: white;
}
.container-for-section-4-component{
  display: flex;
  min-height: 300px;
  height: 100%;
  flex-wrap: wrap;
}
.div-section-4-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: 50%;
}

.inner-div-s4-text{
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  display: flex;
  flex-direction: column;
}

.div-section-4-img{
  background-color: var(--main-color);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  flex: 0 0 auto;
  width: 50%;
}

.s-4-img-1{
  background-image: url("src/assets/imgs/photos-preview/borrowers.jpg");
}
.s-4-img-2{
  background-image: url("src/assets/imgs/photos-preview/people_office.jpg");
}
.s-4-img-3{
  background-image: url("src/assets/imgs/photos-preview/man_woman_table1.jpg");
}

.b-s-eb{
  -webkit-box-shadow: 12px 10px 0px 0px var(--primary-color);
  -moz-box-shadow: 12px 10px 0px 0px var(--primary-color);
  box-shadow: 12px 10px 0px 0px var(--primary-color);
}
.b-s-sb{
  -webkit-box-shadow: -12px 10px 0px 0px var(--primary-color);
  -moz-box-shadow: -12px 10px 0px 0px var(--primary-color);
  box-shadow: -12px 10px 0px 0px var(--primary-color);
}
.devider-line-section-4{
  height: 1px;
  width: calc(100% - 40px);
  background: var(--primary-color);
}
@media (max-width: 1100px){
  .container-for-section-4-component{
    padding: 0 2rem;
  }
}
@media (max-width: 550px){
  .container-for-section-4-component{
    padding: 0;
    flex-direction: column;
  }
  .div-section-4-img{
    height: 320px;
    width: calc(100% - 12px);
    margin-bottom: 3rem;
  }
  .div-section-4-text{
    width: 100%;
    padding: 0 2rem;
  }
  .inner-div-s4-text{
    padding-left: 0 !important;
  }
  .b-s-eb{
    order: 0 !important;
    margin-right: 12px !important;
  }
  .b-s-sb{
    margin-left: 12px !important;
    /*margin-right: 13px !important;*/
  }
}
/* SECTION 4 LIST OF CARDS BORROWERS,BROKERS,INVESTORS */
/*                         END                         */
/*____________________________________________________ */

/* SECTION 5 CARDS WITH LIL PICS AND TXT */
.section-5{
  width: 100%;
  background: var(--third-color);
}
.label-section-5{
  font-weight: 700;
  padding-bottom: 3rem;
}
.outer-container-cards-section-5{
  display: flex;
  flex-direction: column;
}
.container-card-section-5{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}
.card-section-5{
  display: flex;
  flex-grow: 1;
  flex-basis: calc(var(--container-width)/2 - 20px);
}
.section-5-test-pic{
  width: 90px;
  height: 90px;
  background: #ffffff;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}
.section-5-text{
  display: flex;
  flex-direction: column;
  padding-right:1.5rem!important;
  padding-left:1.5rem!important;
  flex-shrink: 1;
}
@media (max-width: 760px) {
  .label-section-5{
    text-align: center;
  }
  .container-card-section-5{
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .section-5-test-pic{
    margin-bottom: 1rem;
  }
  .card-section-5{
    flex-direction: column;
    align-items: center;
  }
  .section-5-text{
    align-items: center;
  }
  .container-s5{
    padding-bottom: 0 !important;
  }
}
/* SECTION 5 CARDS WITH LIL PICS AND TXT */
/*                  END                  */
/*______________________________________ */

.container-accordion{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 760px){
  .container-accordion{
    padding: 0 1.5rem;
  }
}
.bg-accordion-of-questions{
  padding: 70px 0 70px 0;
  background: var(--light-gray);
}
