<section class="d-flex section-1">
  <div class="d-flex col-6 justify-content-end bg-third-my">
    <div class="half-container">
      <h1 class="fw-bold">Стремимся к быстрому получению одобрений</h1>
      <div class="container-for-checks">
        <p><i class="bi bi-check2-square"></i> Мы самые честные и не обманем</p>
        <p><i class="bi bi-check2-square"></i> Одобрение возможно в течение 24 часов, а погашение - в течение 3 рабочих дней</p>
        <p><i class="bi bi-check2-square"></i> Займы на сумму до 8 миллионов долларов напрямую у кредиторов – без участия банков и их бюрократических проволочек</p>
        <p><i class="bi bi-check2-square"></i> Прозрачные контракты и затраты </p>
        <p><i class="bi bi-check2-square"></i> Срочные соглашения</p>
      </div>
      <div>
        <button class="btn b-r-0 bg-primary-my text-white">Связаться с нами</button>
      </div>
    </div>
  </div>
  <div class="col-6 bg-for-select-1-img"></div>
</section>

<section class="w-100">
  <div class="container">


  </div>
</section>
<section class="w-100">
    <app-accordion-of-questions></app-accordion-of-questions>
</section>
<section class="w-100">
    <app-contact-form [isFormForMainPage]="true"></app-contact-form>
</section>
