/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;   letter-spacing: normal; font-size: 14px}



:root{
  --container-width: 1050px;

  --main-color: #0e142a;
  /*--primary-color: #c39251;*/
  --primary-color: #AF7A41;
  --third-color: #f1e4d6;
  --white-color: #fff;
  --white-permanent-color: #fff;
  --black-color: #000000;
  --black-permanent-color: #000000;
  --light-gray: #e7e8ea;
}

[data-theme='dark']{
  --main-color: #0e142a;
  --primary-color: #AF7A41;
  --third-color: #f1e4d6;
  --white-color: #000000;
  --white-permanent-color: #fff;
  --black-color: #ffffff;
  --black-permanent-color: #000000;
  --light-gray: #e7e8ea;
}

.bg-main-my{
  background-color: var(--main-color);
}
.bg-primary-my{
  background-color: var(--primary-color);
}
.bg-third-my{
  background-color: var(--third-color);
}
.color-main-my{
  color: var(--main-color);
}
.color-primary-my{
  color: var(--primary-color);
}

.pointer{
  cursor: pointer;
}

.container-my{
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
}

.form-control{
  border-radius: 0 !important;
}

.b-r-0{
  border-radius: 0 !important;
}

/*ACCORDION*/
.accordion-button:focus {
  z-index: 3;
  outline: 0;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: var(--white-permanent-color);
  box-shadow: inset 0 calc(-1* var(--white-permanent-color)) 0 var(--white-permanent-color);
}



/*MY BUTTONS*/
.button-outline-my{
  border: 1px var(--primary-color) solid;
  border-radius: 0;
  color: var(--primary-color);
  font-size: 12px;
  background-color: #ffffff;
  min-width: 100px;
  height: 30px;
}


/*OFF CANVAS*/
.offcanvas-backdrop.show{
  opacity: 1 !important;
}
@media (max-width: 760px){
  .off-canvas{
    width:100vw!important;
  }
}
