.p-container{
  padding-top: 5rem;
}
.apply-btn{
  height: 50px;
}
span{
  font-size: 16px;
}
.x-my{
  position: absolute;
  top: 20px;
  right: 20px;
}

.svgs-container{
  display: flex;
  align-items: center;
}
.logo-svg{
  background-image: url('src/assets/imgs/brokervance logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width:  75px;
  height: 75px;
}
.label-text-svg{
  background-image: url('src/assets/imgs/brokervance lbl black.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width:  241px;
  height: 64px;
}

span:active{
  color: var(--primary-color);
}
