<i class="bi bi-x-lg x-my fs-4" (click)="activeOffcanvas.close()"></i>
<div class="d-flex flex-column align-items-center p-container gap-4">
  <div class="logo-svg" [routerLink]="['']" (click)="activeOffcanvas.close()"></div>
  <div class="label-text-svg" [routerLink]="['']" (click)="activeOffcanvas.close()"></div>
  <span [routerLink]="['borrowers']" (click)="activeOffcanvas.close()">Заемщикам</span>
  <span [routerLink]="['brokers']" (click)="activeOffcanvas.close()">Брокерам</span>
  <span [routerLink]="['investors']" (click)="activeOffcanvas.close()">Инвесторам</span>
  <span [routerLink]="['contacts']" (click)="activeOffcanvas.close()">Контакты</span>
  <div>
    <button class="btn button-outline-my apply-btn fs-5 ">Связаться</button>
  </div>
</div>
